@import url('fonts.css');

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Cubano-Regular';
    background: url(../img/pattern.jpg) center center;
}
/*====== SECTION COVER =====*/
#cover {
    height: 100%;
    background: url(../img/trees.jpg) center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.wall-sticker {
    padding: 14rem 20rem 16rem 3rem;
    font: 5rem 'Cubano-Regular', 'Arial', sans-serif;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}
.moto {
    font: 3rem 'Cubano-Regular', 'Arial', sans-serif;
    margin-top: 245px;
    margin-left: 350px;
    text-align: center;
}

/* ====== BUTTONS ======*/
.btn-lg {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: 'Nunito-Regular', 'Arial', sans-serif;
    transition: 0.7s;
}
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
    background: rgba(19, 128, 36, 0.5);
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.7s;
}
.fa-arrow-down {
    margin-left: 40rem;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #fff;
    transition: 0.4s;
}
.fa-arrow-down:hover {
    color: rgba(19, 128, 36, 0.5);
    transition: 0.4s;
    text-decoration: none;
}